{% extends 'base.html.twig' %}

{% block title %}Videos enregistrées
{% endblock %}


{% block body %}
	{% include 'main/_bar.html.twig' %}


	{% block javascript %}
		<script type="text/javascript" src="{{ asset('js/gallery.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jszip.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jszip-utils.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/FileSaver.js') }}"></script>

	{% endblock %}
	<style>
		.petite {
			font-size: 0.7em;
		}
		.xpetite {
			font-size: 0.5em;
		}
	</style>
	<div class="container">
		<div class="row mt-2 text-center">
			<div class="col-6 col-md-3 mb-2">
				<button type="button" id="but_all" class="btn btn-secondary">Toutes</button>
			</div>
			<div class="col-6 col-md-3 mb-2">
				<button type="button" id="but_none" class="btn btn-secondary">Aucune</button>
			</div>
			<div class="col-6 col-md-3 mb-2">
				<button type="button" id="but_download" class="btn btn-secondary">Télécharger</button>
			</div>
			<div class="col-6 col-md-3">
				<button type="button" id="but_supprime" class="btn btn-secondary">Supprimer</button>
			</div>
		</div>
	</div>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div id="tableau">{{ videos | raw }}</div>
{% endblock %}
