{% extends 'base.html.twig' %}

{% block title %}Vidéo
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('player') }}
{% endblock %}


{% block body %}
	{% include '_bar.html.twig' %}


	<div class="container">
		<center>
			<div class="row mt-2 justify-content-evenly">
				<div class="col-12 col-md-2 mb-2">
					<button type="button" id="but_download" class="btn btn-sm btn-primary">Télécharger</button>
				</div>
				<div class="col-12 col-md-2">
					<form action="erase">
						<input type="hidden" id="value" name="value" value="{{id}}#{{video}}">
						<button type="submit" id="but_supprime" class="btn btn-sm btn-primary">Supprimer</button>
					</form>
				</div>
			</div>
			<video class="col-12 col-lg-8 mt-4" controls>
				<source src="/images/{{ video }}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</center>
	</div>

	<script>
		$(document).ready(function () {
// $("#but_supprime").click(function () {

// if (confirm("Voulez-vous supprimer                     {{ video }}?")) {
// $.ajax({
// type: 'get',
// async: false,
// url: 'cgi-bin/asuppr.cgi',
// data: {
// file_id: "{{ id }}",
// id_secure:'<?php echo $_SESSION["login_string"]; ?>'
// },
// success: function (result) {
// if (result === 'done') {
// window.location.href = '../gallery.php'
// };
// if (result === 'error') {
// alert("Impossible de supprimer                 {{ video }}")
// };
// }

// });
// }

// });
			alert("ici");
$("#but_download").click(function () {
if (confirm("Voulez-vous télécharger {{ video }}?")) {
var x = new XMLHttpRequest();
x.open('GET', '../images/{{ video }}', true);
x.responseType = 'blob';
x.onload = function (e) {
download(x.response, '{{ video }}', 'video/x-msvideo');
}
x.send();
}
});
});
	</script>
{% endblock %}
