{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('welcome') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('welcome') }}
{% endblock %}

{% block body %}
	{% include '_bar.html.twig' %}

	<div class="container mt-4 mb-4 text-center background">
		<div class="row">
			<div class="col-12 col-md-6 col-xl-4 mt-4">
				<div class="container pt-2 pb-3 border border-secondary rounded-4 bg-secondary bg-gradient bg-opacity-10 text-secondary">
					<div class="moyenne">Dashboard de
						{{app.user.username|capitalize}}</div>
					<span class="moyenne">détections récentes:</span>
					<p class="petite d-flex justify-content-center" id="histo"></p>
				</div>
			</div>
			<div class="col-12 col-md-5 offset-md-1 col-xl-3 offset-xl-5 mt-4">
				<div class="container pt-2 pb-3 border border-secondary rounded-4 bg-secondary bg-gradient bg-opacity-10 text-secondary">
					<div id="heure" class="mb-2"></div>
					<div id="lieu" class="mb-2"></div>
					<div id="previsions" class="mb-2 d-flex justify-content-center"></div>
					<div id="temp" class="mb-2 d-flex justify-content-center"></div>
					<div id="etat_detection" class="mb-2 petite"></div>
					<div id="etat_alerte" class="mb-2 petite"></div>
					<div id="etat_leds" class="petite"></div>
				</div>
			</div>
		</div>
	{% endblock %}
