{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}

{% block body %}
	{% include 'main/_bar.html.twig' %}
	{% block stylesheet %}
		<link rel="stylesheet" href="{{ asset('css/weather-icons.min.css') }}"/>
	{% endblock %}
	{% block javascript %}
		<script type="text/javascript" src="{{ asset('js/welcome.js') }}"></script>
	{% endblock %}
	<style>
		.petite {
			font-size: 0.6em;
			align: 'center'
		}
		.moyenne {
			font-size: 1.5em;
		}
		.grande {
			font-size: 2.2em;
		}
		.gadget_allume {
			padding: 2px 50px;
			background: #c9f7b8;
		}
	</style>
	<div class="container mt-4 text-center">
		<span class="grande">Welcome
			{{app.user.username}}</span>
		<div
			class="row ">
			{# <div class="col-2 mt-4">
										<div class="list-group">
											<a href="{{ path('motion')}}" class="list-group-item list-group-item-action text-center">Motion detection</a>
											<a href="#" class="list-group-item list-group-item-action text-center">Recorded videos</a>
											<a href="#" class="list-group-item list-group-item-action text-center">Live cam</a>
											<a href="{{ path('temp')}}" class="list-group-item list-group-item-action text-center">Temperature sensors</a>
											<a href="{{ path('leds')}}" class="list-group-item list-group-item-action text-center">Ledstrip control</a>
										</div>
									</div> #}
			<div class="col-3 mt-4">
				<span class="moyenne">détections récentes:</span>
				<p class="petite histo d-flex justify-content-center"></p>
			</div>
			<div class="col-3 offset-6 mt-4 pt-2 pb-3 border-2 rounded-4 bg-secondary bg-gradient bg-opacity-10 text-secondary">
				<div id="heure" class="mb-2"></div>
				<div id="lieu" class="mb-2"></div>
				<div id="previsions" class="mb-2 d-flex justify-content-center"></div>
				<div id="temp" class="mb-2 d-flex justify-content-center"></div>
				<div id="etat_detection" class="mb-2 petite"></div>
				<div id="etat_alerte" class="mb-2 petite"></div>
				<div id="etat_leds" class="petite"></div>
			</div>
		</div>
	{% endblock %}
