{% extends 'base.html.twig' %}

{% block title %}Vidéo
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('player') }}
{% endblock %}


{% block body %}
    <div class="container text-center">
        <div class="videoId" value="{{ video.id }}">
            <div class="row my-4 justify-content-center">
                <div class="col">
                    <a class="text-decoration-none" href="{{ path('gallery') }}">
                        <button class="btn btn-sm btn-secondary">Retour</button>
                    </a>
                    <div type="button" id="but_download" class="mx-4 btn btn-sm btn-secondary">Télécharger</div>
                    <div type="button" id="but_delete" class="btn btn-sm btn-secondary">Supprimer</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <video class="col-12 col-lg-8" controls>
                    <source src="/images/{{ video.relativeFilename }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked style="opacity: 0">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
