{% if is_granted('ROLE_USER') %}
	<nav class="navbar navbar-expand-md navbar-light" style="background-color: #f7f7f7">
		<div class="container-fluid">

			<a class="navbar-brand" href="{{ path ('welcome') }}"><img src="{{ asset('build/images/raspberry_petit.png') }}" alt="Logo" width="29" class="d-inline-block align-text-bottom"><span class="fs-4 fw-bolder ms-1 text-secondary">
					Smart Control</span>
				<span class="ps-3 d-inline-block align-middle" id="bar"></span>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my_navbar" aria-controls="my_navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="my_navbar">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row fs-2 font-color">
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'welcome' %}active{% endif %}" title="Home page" href="{{ path ('welcome') }}"><i class="bi bi-house-fill"></i></a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'motion' %}active{% endif %}" title="Home page" href="{{ path ('motion') }}"><i class="fa-solid fa-house-signal"></i></a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'gallery' %}active{% endif %}" title="Recorded videos" href="{{ path ('gallery') }}"><i class="bi bi-film"></i></a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link {% if app.request.attributes.get('_route') == '#' %}active{% endif %}" title="Live camera" href='#'><i class="bi bi-camera-reels-fill"></i></a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'temp' %}active{% endif %}" title="Temperature sensor" href="{{ path ('temp') }}"><i class="bi bi-thermometer-half"></i></a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'leds' %}active{% endif %}" title="Ledstrip control" href="{{ path ('leds') }}"><i class="bi bi-lamp-fill"></i></a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'user.edit' %}active{% endif %}" title="Edit user" href="{{ path ('user.edit') }}"><i class="bi bi-person-fill-gear"></i></a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'app_logout' %}active{% endif %}" title="Sign out" href="{{ path ('app_logout') }}"><i class="fa-solid fa-person-walking-arrow-right"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endif %}
