{% if is_granted('ROLE_USER') %}
	<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e7e7e7">
		<div class="container-fluid">

			<a class="navbar-brand" href="{{ path ('welcome') }}">
				<img src="{{ asset('build/images/raspberry_petit.png') }}" alt="Logo" width="29" class="d-inline-block align-text-bottom">
				<span class="fs-4 fw-bolder ms-1 font-color ">Smart Control</span>
			</a>
			<span id="bar"></span>

			<div class="navbar-collapse" id="my_navbar">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row fs-2 font-color">
					<li class="nav-item mx-auto me-lg-0 icon-menu">
						<a class="nav-link font-color {% if app.request.attributes.get('_route') == 'welcome' %}active{% endif %}" title="Dashboard" href="{{ path ('welcome') }}"><i class="fa-solid fa-house-chimney"></i></a>
					</li>
					<li class="nav-item mx-auto me-lg-0 icon-menu">
						<a class="nav-link font-color {% if app.request.attributes.get('_route') == 'motion' %}active{% endif %}" title="Détection" href="{{ path ('motion') }}"><i class="fa-solid fa-house-signal"></i></a>
					</li>
					<li class="nav-item mx-auto me-lg-0 icon-menu">
						<a class="nav-link font-color {% if app.request.attributes.get('_route') == 'gallery' %}active{% endif %}" title="Enregistrements" href="{{ path ('gallery') }}"><i class="fa-solid fa-film"></i></a>
					</li>
					<li class="nav-item mx-auto me-lg-0 icon-menu">
						<a class="nav-link font-color {% if app.request.attributes.get('_route') == '#' %}active{% endif %}" title="Caméra" href='#'><i class="fa-solid fa-video"></i></a>
					</li>
					<li class="nav-item mx-auto me-lg-0 icon-menu">
						<a class="nav-link font-color {% if app.request.attributes.get('_route') == 'temp' %}active{% endif %}" title="Température" href="{{ path ('temp') }}"><i class="fa-solid fa-temperature-half"></i></a>
					</li>
					<li class="nav-item mx-auto me-lg-0 icon-menu">
						<a class="nav-link font-color {% if app.request.attributes.get('_route') == 'leds' %}active{% endif %}" title="Eclairage" href="{{ path ('leds') }}"><i class="fa-solid fa-lightbulb"></i></a>
					</li>
					<li class="nav-item mx-auto me-lg-0 icon-menu">
						<a class="nav-link font-color {% if app.request.attributes.get('_route') == 'user.edit' %}active{% endif %}" title="Modifier identifiants" href="{{ path ('user.edit') }}"><i class="fa-solid fa-user-gear"></i></a>
					</li>
					<li class="nav-item mx-auto me-lg-0 icon-menu">
						<a class="nav-link font-color" title="Sortir" href="{{ path ('app_logout') }}"><i class="fa-solid fa-person-walking-arrow-right"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endif %}
